@inherits LayoutComponentBase

<main>
    @Body
</main>

@code{
	[Inject]
	UserState UserState { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		await UserState.TryLoadData();
	}
}