@using WebShop.Components.Layout
@inherits LayoutComponentBase

<Header/>
<main>
    @Body
</main>
<Newsletter/>
<Footer/>

@code{
	[Inject]
	UserState UserState { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		await UserState.TryLoadData();
	}
}