@page "/login"

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-6">
				<EditForm Model="Model" OnValidSubmit="OnValidSubmit">
				<DataAnnotationsValidator />
				<div class="login">
					<div class="form-group">
						<InputText class="input" type="email" name="email" placeholder="Email" @bind-Value="Model.Email" />
						<ValidationMessage For="() => Model.Email" />
					</div>
					<div class="form-group">
							<InputText class="input" type="password" name="password" placeholder="Password" @bind-Value="Model.Password" />
							<ValidationMessage For="() => Model.Password" />
					</div>
				<div class="text-center">
					<button type="submit" class="primary-btn d-block mx-auto">Login</button>
				</div>
				</div>
				</EditForm>
			</div>
			<div class="col-md-3">
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
@code {
	UserForAuthenticationVM Model { get; set; } = new();

	async Task OnValidSubmit()
	{


	}

}
