.inline {
    display: inline-block; /* display list items in the same line */
    margin-right: 25px; /* add 10px of space between items */
}

.left-aligned {
    margin-left: 20%; /* move the element 30% from the left side */
}

.right-aligned {
    margin-right: 20%; /* move the element 30% from the left side */
}

.top-header {
    margin: 10px
}

.top-header i {
    color: red;
    margin: 5px
}



