<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">New Products</h3>
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab1" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-@_id">
								@foreach (var product in Products)
								{
									<ProductSlickCard Product="product" />
								}
							</div>
							<div id="slick-nav-@_id" class="products-slick-nav"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

@code {
	string _id = "";

	[Inject]
	IJSRuntime JS { get; set; } = null!;
	[Parameter]
	public IEnumerable<ProductCarouselVM> Products { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		_id = Guid.NewGuid().ToString();
	}

}
