<li>
	<div class="review-heading">
		<h5 class="name">@(Review.Name ?? "Anonymous")</h5>
		<p class="date">@Review.CreatedDate.ToString("dd MMM yyyy, h:mm tt")</p>
		<StarRating StarCount="Review.StarRating"/>
	</div>
	<div class="review-body">
		<p>@Review.Description</p>
	</div>
</li>

@code {
    [Parameter]
    public ReviewVM Review { get; set; } = null!;

}
