<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">@Title</h3>
					<div class="section-nav">
						<ul class="section-tab-nav tab-nav">
							@foreach (var category in CarouselModel.Categories)
							{
								<li><a @onclick="( () => _activeProducts = CarouselModel.Products.Where(p => p.CategoryId == category.Id).ToList())" data-toggle="tab" href="#tab1">@category.Name</a></li>
							}
						</ul>
					</div>
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab1" class="tab-pane active">
							<div class="products-slick" data-nav="#@_guid">
								@foreach (var product in _activeProducts)
								{
									<ProductCard Product="product" />
								}
							</div>
							<div id="@_guid" class="products-slick-nav"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

@code
{
	[Inject]
	public IJSRuntime JS { get; set; } = null!;
	[Parameter]
	public CarouselVM CarouselModel { get; set; } = null!;
	[Parameter]
	public string Title { get; set; } = null!;

	private Guid _guid = Guid.NewGuid();
	private List<ProductCarouselVM> _activeProducts = null!;


	protected override async Task OnInitializedAsync()
	{
		//Products = await ApiService.GetProductsAsync();
	}

	protected override async Task OnParametersSetAsync()
	{
		_activeProducts = CarouselModel.Products.OrderBy(p => p.Sold).Take(8).ToList();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
        Console.WriteLine($"{this.ToString()} OnAfterRenderAsync");
		//Console.WriteLine($"Products count {Products.Count}");
		if (CarouselModel is not null && CarouselModel.Products.Count > 0)
			await JS.InvokeAsync<IJSObjectReference>("import", "/js/main.js");
    }
}