<div class="products-slick" data-nav="#@Guid">
	@foreach (var product in Products)
	{
		<ProductCard Product="product" />
	}
</div>

@code {
	[Parameter]
	public List<ProductCarouselVM> Products { get; set; } = null!;
	[Parameter]
	public Guid Guid { get; set; }



}
